{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Warehouse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
{#        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#        <link rel="stylesheet" href="{% static 'css/sklad.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/sklad.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Anton|Oswald&amp;subset=cyrillic" rel="stylesheet">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
{#        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">#}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16"/>
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon-apple.png' %}" sizes="57x57"/>
    </head>
    <body>
        <div class="body navbar-fixed-top">
            <div class="row body-block">
                <div class="navbar-block">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <div class='main_logo1 cell'>
                        <div>
                            <h1 class="main_logo"><a class="logo" href="{% url 'details_list' %}">WAREHOUSE</a></h1>
                        </div>
                    </div>
                    <div class="menu cell">
                        <ul class="">
                            <li class="bounce ex">
                                <h1 class=""><a class="zoom details_li" href="{% url 'details_list' %}">ДЕТАЛИ</a></h1>
                            </li>
                            <li class="bounce ex">
                                <h1 class=""><a class="zoom goods_li" href="{% url 'goods_list' %}">ТОВАР</a></h1>
                            </li>
                            <li class="bounce ex">
                                <h1 class=""><a class="zoom plan_li" href="{% url 'items_profit' %}">ПЛАН</a></h1>
                            </li>
                        </ul>
                    </div>
                    <div class="auth cell">
                        {% if request.user.is_authenticated %}
                            {% if user.profile.image %}
                                <div class="page-padd col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <a href="{% url 'user_profile' username=request.user.username %}"><img class="header_avatar_img" src="{% static "img/"%}{{user.profile.image}}" alt="Avatar"></a>
                                </div>
                            {% else %}
                                <div class="page-padd col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <a style href="{% url 'user_profile' username=request.user.username %}">
                                        <div class="header_avatar_img_user">
                                            <span class="header_avatar_img_username">{% for char in request.user.username %}{% if forloop.first %}<strong>{{ char|upper }}</strong>{% endif %}{% endfor %}</span>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="page-padd header_login_div col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="{% url 'logout' %}" class="header_login">Выйти</a>
                            </div>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                            <div class="page-padd clearfix header_login_div col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="{% url 'login' %}" class="header_login no_float">Войти</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="menu-hidden">
                <div class="menu-item"><a class="zoom details_li" href="{% url 'details_list' %}">ДЕТАЛИ</a></div>
                <div class="menu-item"><a class="zoom goods_li" href="{% url 'goods_list' %}">ТОВАР</a></div>
                <div class="menu-item"><a class="zoom plan_li" href="{% url 'items_profit' %}">ПЛАН</a></div>
            </div>
        </div>
        <div id="hellopreloader">
            <div id="hellopreloader_preload"></div>
        </div>
        <script type="text/javascript">function fadeOutnojquery(a){a.style.opacity=1;var b=setInterval(function(){a.style.opacity=a.style.opacity-.05,a.style.opacity<=.05&&(clearInterval(b),hellopreloader.style.display="none")},10)}var hellopreloader=document.getElementById("hellopreloader_preload");window.onload=function(){setTimeout(function(){fadeOutnojquery(hellopreloader)},300)};</script>
        <script src="{% static "js/jquery.tap.js" %}" defer></script>
        <div class="page-padd content">
            <div class="row content-block">
{#            <script src="{% static "js/jquery-3.1.1.min.js" %}" defer></script>#}
                {% block content %}{% endblock %}
                {% block login %}{% endblock %}
            </div>
        </div>
        <div class="KW_progressContainer">
            <div class="KW_progressBar">
            </div>
	    </div>
{#        <script src="{% static "js/jquery-ui.min.js" %}" async></script>#}
        <script src="{% static "js/Own/min/scrollIndicator.js" %}" async></script>
        <script src="{% static "js/Own/min/currentPage.js" %}" async></script>
        <script src="{% static "js/Own/min/showMenu.js" %}" defer></script>
{#        <script src="{% static "js/Own/min/page/base.js" %}" async></script>#}
    </body>
</html>
