{% extends 'base.html' %}
{% load staticfiles %}

{% block login %}
    <div id="page" class="hide">4</div>
    {% if error %}
        <div class="row">
            <div class="row delete_message">
                <div class=" login-div warning-message">
                    <div class="row">
                        <div class="close_win">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <p id="error_login">{{ error }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div>
            <div class="border_style_login"></div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="login-div profile">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <p class="nov_ob2 detail_title"><span class="title_details_list">Изменение пароля</span></p>
                    {% for a in form %}
                        <div>
                            <div class="tr_detail_item">
                                {{ a }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="bt">
                        <button type="submit" class="btn btn_item_edit password_change_save bt1" value="save">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}" defer></script>
{#    <script src="{% static "js/Own/blurLogin.js" %}"></script>#}
    <script src="{% static "js/Own/min/deleteMessage.js" %}" async></script>
{% endblock %}