{% extends 'sklad/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="page" class="hide">2</div>
    <div class="row">
        <div class="address">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% for a in address_list %}
                <span class="address-slash"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{ address.a }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
    <form class="form-horizontal search_mar" method="get" action="{% if username %}{% url 'user_items' username=username %}{% else %}{% url 'goods_list' %}{% endif %}">
        {% csrf_token %}
        <div class="input-group">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" id="id_title_search2" class="form-control" value="{{ form.title.value }}" name="title" placeholder="Введите название товара" >
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default search_bt" value="search" id="btn_search">Найти</button>
            </span>
        </div>
    </form>
    {% if user.is_superuser and unpubliched_count %}
        <div class="row">
            <div  class="main block_margin">
                <div class="nov_ob2"><p class="items_title">Непроверенные</p><span class="items_title_count">{{ unpubliched_count }}</span></div>
                {% if unpubliched_count %}
                    <div class="hide_panel">
                        <div class="panel panel-default panel-scroll-goods">
                            <table class="table table-scroll">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Автор</th>
                                        <th>Цена <span class="symbol">$</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in unpubliched_items %}
                                        <tr class="act">
                                            <td>
                                                <a href="{% url 'item_detail' pk=item.id %}">{{ item.category__title }} {{ item.title }}</a>
                                                {% if item.comments_count %}
{#                                                        <span class="glyphicon glyphicon-comment"><span class="comments_count">{{ item.comments.all.count }}</span></span>#}
                                                    <div class="comment_div"><i class="fa fa-comments" aria-hidden="true"></i><span class="comments_count">{{ item.comments_count }}</span></div>
                                                {% endif %}
                                            </td>
                                            <td>{{ item.author__username }}</td>
                                            <td>{{ item.price }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="goods_arrow_div arrow">
                        <img class="goods_arrow" src="{% static "img/Arrow.png" %}" alt="Arrow">
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% for category in categories %}
        <div class="row">
            <div  class="main block_margin">
                <div class="nov_ob2">
                    {% if category.item_count <= 0 or category.item_count == None and user.is_authenticated %}
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    {% endif %}
                    <p class="items_title"><a href="{% if username %}{% url 'user_category_items' category_value=category.title_plural username=username%}{% else %}{% url 'category_list' category_value=category.title_plural %}{% endif %}">{{ category.title_plural }}</a></p>
                    {% if category.item_count %}<span class="items_title_count">{{ category.item_count }}</span>{% endif %}</div>
                {% if category.item_count %}
                    {% csrf_token %}
                    <div class="hide_panel">
                        <div class="panel panel-default panel-scroll-goods">
                            <table class="table table-scroll">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Затраты <span class="symbol">$</span></th>
                                        <th>Цена <span class="symbol">$</span></th>
                                        <th>Прибыль <span class="symbol">$</span></th>
                                        <th>Доступно <span class="symbol">шт.</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in all_items %}
                                        {% if item.category__id == category.id%}
                                            <tr class="act">
                                                <td>
                                                    <a href="{% url 'item_detail' pk=item.id %}">{{ item.category__title }} {{ item.title }} </a>
                                                    {% if item.comments_count %}
{#                                                            <div class="comment_div"><img src="{% static 'img/comments.png' %}"><span class="comments_count">{{ item.comments.all.count }}</span></div>#}
                                                        <div class="comment_div">{% if user.is_authenticated %}<i class="fa fa-comments" aria-hidden="true"></i>{% endif %}<span class="comments_count">{{ item.comments_count }}</span></div>
                                                    {% endif %}
                                                </td>
                                                <td>{% if item.expenses %}{{ item.expenses }}{% else %}-{% endif %}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{% if item.profit %}{{ item.profit }}{% else %}-{% endif %}</td>
                                                <td>{% if item.available %}{{ item.available }}{% else %}-{% endif %}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if user.is_authenticated %}
                            <h1 class="butt"><a class="btn btn_item" href="{% url 'item_new' category=category.title_plural %}">Добавить товар</a></h1>
                        {% endif %}
                        <h1 class="butt"><a class="btn btn_item btn_item_profit" href="{% url 'item_profit' category=category.title_plural %}">Расчитать максимальную прибыль</a></h1>
                    </div>
                    <div class="goods_arrow_div arrow">
                        <img class="goods_arrow" src="{% static "img/Arrow.png" %}" alt="Arrow">
                    </div>
                {% else %}

                {% if user.is_superuser %}
                    <div class="category_delete"><span class="category_delete_text">Удалить</span></div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="category_add"><span class="category_add_text">Добавить</span></div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if user.is_superuser %}
        <div class="row">
            <div class="main_l main new-cat">
                <h1 class="butt"><a class="btn btn-1-back" href="{% url 'category_new' %}">Добавить категорию</a></h1>
            </div>
        </div>
    {% endif %}
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/Own/min/goodsFadeIn.js" %}" async></script>
{#    <script src="{% static "js/Own/blurGoodslist.js" %}"></script>#}
    <script src="{% static "js/Own/min/selectRow.js" %}" async></script>
    <script src="{% static "js/Own/min/categoryOptions.js" %}" async></script>
{% endblock content %}