{% extends 'sklad/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="page" class="hide">2</div>
    <style type="text/css">
       .newdet .cd-dropdown, .cd-select {
            width: 240px;
            margin: 0 10px 0 0;
            display: block;
            float: left;
       }
    </style>
    <div class="row">
        <div class="address">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% for a,b in address.items %}
                <span class="address-slash"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{ b }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
    {% if error %}
        <div class="row">
            <div class="row delete_message">
                <div class=" login-div warning-message">
                    <div class="row">
                        <div class="close_win">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <p id="error_login">{{ error }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row edit_div">
        <div class="border_style"></div>
    </div>
    <div class="row edit_div">
        <div class="main_item_edit">
            <div class="nov_ob2 detail_title"><p><span class="title_details_list">{% if formset %}Редактирование товара{% else %}Новый товар в категории <span class="category_title">{{ category }}</span>{% endif %}</span></p></div>
            {% if item_image %}
                <div class="avatar_div">
                    <div class="image_block">
                        <img class="image" src="{% static "img/"%}{{item_image}}" alt="Avatar">
                    </div>
                </div>
            {% endif %}
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {% if field.name != "image" %}
                        {% if field.name != "author" %}
                            <div class="inp_detail">
                                {{ field }} {% if field.name == 'price' %} <span class="symbol">$</span>{% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="tr_item_item_image">
                            {% if field.value %}
                                <input id="image-clear_id" name="image-clear" type="checkbox">
                                <label class="label_image">Удалить изображение</label>
                                <label class="label_check" for="image-clear_id"><img class="check_image" src="{% static "img/check_off.png" %}"></label>
                                <br>
                            {% endif %}
                            <div class="button_form">
                                <div class="bt">
                                    <label class="btn btn_item_edit password_change_save bt1 btn_avatar" for="id_image">Загрузить изображение</label>
                                    <input id="id_image" name="image" type="file">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if formset %}
                    <div class="nov_ob2 detail_title detail_title_d">
                        <p><span class="title_details_list">Состоит из деталей:</span></p>
                    </div>
                {% endif %}
                {{ formset.management_form }}
                {% for f in formset.forms %}
                    <div class="inp_detail inp_detail_d newdet clearfix">
                        {% for field in f %}
                            {{ field.errors }}
                            {{ field }}
                            {% if field.name == "DELETE" %}
                                <label class="trash" for="{{ field.id_for_label}}"><i class="fa fa-trash-o" aria-hidden="true"></i></label>
                            {% endif %}
{#                            {{ field.id_for_label}}#}
                        {% endfor %}
                    <div class="detail_input_delete"><span class="detail_input_delete_text">-</span></div>
                    </div>
                {% endfor %}
                {% if formset %}
                    <div class="button_form">
                {% endif %}
                    {% if formset %}
                        <div class="bt_item_edit">
                            <a class="btn btn_item_edit bt1">Добавить деталь</a>
                        </div>
                    {% endif %}
                    <div class="bt">
                        <button type="submit" class="btn btn-primary reg" value="save" id="btn_login1">{% if formset %}Сохранить{% else %}Добавить детали{% endif %}</button>
                    </div>
                {% if formset %}
                    </div>
                {% endif %}
            </form>
        </div>
        <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
{#        <script src="{% static "js/Own/blur.js" %}"></script>#}
        <script src="{% static "js/Own/min/deleteMessage.js" %}" async></script>
        <script src="{% static "js/Own/min/checkBox.js" %}" async></script>
        <script src="{% static "js/Own/min/showDetail.js" %}" async></script>
        <script src="{% static "js/Own/min/deleteDetail.js" %}" async></script>
        <script src="{% static "js/Own/min/selectOption.js" %}" async></script>
        <script src="{% static "js/Own/min/selectDetailPlaceholder.js" %}" async></script>
        <script src="{% static "js/Own/min/dropdown.js" %}" defer></script>
        <script src="{% static "js/modernizr.custom.63321.js" %}" defer></script>
        <script src="{% static "js/jquery.dropdown.min.js" %}" defer></script>
    </div>
{% endblock content %}