{% extends 'sklad/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="page" class="hide">2</div>
    <div class="row">
        <div class="address">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% for a,b in address.items %}
                <span class="address-slash"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{ b }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row edit_div">
        <div class="border_style"></div>
    </div>
    <div class="row edit_div">
        <div {% if previous or next %}style="border: none;" {% endif %} class="main_item_edit arrows_mar">
            <div class="nov_ob2 detail_title">
                {% if user.is_superuser or user.id == item_values.author__id %}
                    <a class='det_ch' href="{% url 'item_edit' pk=item_values.id %}" class="top-menu log-button">
                        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                    </a>
                {% endif %}
                <p><span class="title_details_list"><p>{{ item_values.category__title }} {{ item_values.title }}</p></span></p>
            </div>
{#        {{item.image.value}}#}
            {% if item_values.image %}
                <div class="avatar_div">
                    <div class="image_block">
                        <img class="image" src="{% static "img/"%}{{item_values.image}}" alt="Avatar">
                    </div>
                </div>
            {% else %}
                <div class="avatar_div">
                    <div class="image_block">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </div>
                </div>
            {% endif %}
            <div>
                <div class="tr_detail_item">
                    <p><strong>Автор</strong><a href="{% url 'user_profile' username=item_values.author__username %}"><p>{{ item_values.author__username }}</p></a></p>
                </div>
                <div class="tr_detail_item">
                    <p><strong>Цена</strong><p>{{ item_values.price }}<span class="symbol"> $</span></p></p>
                </div>
            </div>
            <div class="nov_ob2 detail_title detail_title_d">
                <p><span class="title_details_list">Состоит из деталей:</span></p>
            </div>
            {% for detail in itemdetails %}
                <div>
{#                    <div style="background-color: {{ detail.detail.color.code }}" class="color_label_edit_item"></div>#}
                    {% if detail.detail__color__code %}
                        <i style="color: {{ detail.detail__color__code }}; margin-left: 5px; font-size: 20px;" class="fa fa-tint" aria-hidden="true"></i>
                    {% endif %}
                    <div class="tr_detail_item">
                        <p>
                            <strong><a href="{% url 'details_detail' pk=detail.detail__id %}">{{ detail.detail__title}}</a></strong>
                            {{ detail.detail_count}}
                            <span class="symbol">шт.</span>
                        </p>
                        <p></p>
                    </div>
                </div>
                {% endfor %}
            <div class="button_form">
                {% if user.is_superuser and not item_values.publicate %}
                    <a class="publish_button" href="{% url 'publicate_item' pk=item_values.id %}">Опубликовать</a>
                {% endif %}
                {% if user.is_superuser and item_values.publicate %}
                    <a class="hide_button" href="{% url 'unpublicate_item' pk=item_values.id %}">Скрыть</a>
                {% endif %}
                {% if user.is_superuser or user.id == item_values.author__id %}
                    <a class='delete_button' href="{% url 'item_delete' pk=item_values.id %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if item_values.publicate or user.is_superuser %}
        {% if previous or next %}
            <div class="row edit_div">
                <div class="arrows clearfix">
                    <div class="arrows-block clearfix">
                        {% if previous %}
                            <a href="{% url 'item_detail' pk=previous %}">
                                <div class="main_item_arrow left-arrow" style="float: left">
    {#                                <img class="left_arrow" src="{% static "img/Left.png" %}" alt="Previous">#}
                                    <i class="left_arrow fa fa-chevron-left" aria-hidden="true"></i>
                                </div>
                            </a>
                        {% endif %}
                        {% if next %}
                            <a href="{% url 'item_detail' pk=next %}">
                                <div class="main_item_arrow right-arrow" style="float: right">
    {#                                <img class="right_arrow" src="{% static "img/Right.png" %}" alt="Next">#}
                                    <i class="left_arrow fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="row edit_div">
                <div class="main_item_edit comment">
                    <form class="" method="post">
                        {% csrf_token %}
                        {{ form.text }}
                        <div class="comment_send"><button type="submit" class="comment_button" style="" value="save"><span class="category_delete_text">Отправить</span></button></div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row edit_div hr"></div>
        {% if itemcomments %}
            {% for comment in itemcomments %}
                <div class="row edit_div">
                    <div class="main_item_edit comment_published clearfix">
                        <a href="{% url 'user_profile' username=comment.author__username %}">
                            <div class="comment_author">
                                <span class="hide_panel">{{ comment.id }}</span>
                                <span>{{ comment.author__username }}</span>
                                <div class="comment_avatar">
                                    {% if comment.author__profile__image %}
                                        <img class="comment_avatar_img" src="{% static "img/"%}{{comment.author__profile__image}}" alt="Avatar">
                                    {% else %}
                                        <div class="avatar_default_block">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="comment_date"><span>{{ comment.created_date }}</span></div>
                        <div class="comment_text">{{ comment.text }}</div>
                        <span class="span-comment-delete">Удалить</span>
                        {% if comment.author__id == user.id %}
                            <div class="comment_delete"><span class="category_delete_text">Удалить</span></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row edit_div">
                    <span class="comment_not">Ещё не добавлено ни одного комментария.</span>
            </div>
        {% endif %}
    {% endif %}
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/Own/min/sendComment.js" %}" async></script>
    <script src="{% static "js/Own/deleteComment.js" %}" async></script>
{#    <script src="{% static "js/Own/blurComment.js" %}"></script>#}
{% endblock content %}