{% extends 'sklad/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row edit_div">
        <div class="border_style"></div>
    </div>
    <div class="row edit_div">
        <div class="main_item_edit arrows_mar">
            <div class="nov_ob2 detail_title">
                {% if user.is_superuser or user == item.author %}
                    <a class='det_ch' href="{% url 'item_edit' pk=item.pk %}" class="top-menu log-button">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}
                <p><span class="title_details_list">{{ item.category.title }} {{ item.title }}</span></p>
            </div>
{#        {{item.image.value}}#}
            {% if item.image %}
                <div class="avatar_div">
                    <div class="image_block">
                        <img class="image" src="{% static "img/"%}{{item.image}}" alt="Avatar">
                    </div>
                </div>
            {% endif %}
            <div>
                <div class="tr_detail_item">
                    <p><strong>Автор:</strong><a href="{% url 'user_profile' username=item.author.username %}"> {{ item.author.username }}</a></p>
                </div>
                <div class="tr_detail_item">
                    <p><strong>Цена:</strong> {{ item.price }}<span class="symbol"> $</span></p>
                </div>
            </div>
            <div class="nov_ob2 detail_title detail_title_d">
                <p><span class="title_details_list">Состоит из деталей:</span></p>
            </div>
            {% for detail in item.itemdetails.all %}
                <div>
                    <div style="background-color: {{ detail.detail.color.code }}" class="color_label_edit_item"></div>
                    <div class="tr_detail_item">
                        <p>
                            <strong><a href="{% url 'details_detail' pk=detail.detail.pk %}">{{ detail.detail.title}}:</a></strong>
                            {{ detail.detail_count}}
                            <span class="symbol">шт.</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            <div class="button_form">
                {% if user.is_superuser and not item.publicate %}
                    <a class="publish_button" href="{% url 'publicate_item' pk=item.pk %}">Опубликовать</a>
                {% endif %}
                {% if user.is_superuser and item.publicate %}
                    <a class="hide_button" href="{% url 'unpublicate_item' pk=item.pk %}">Скрыть</a>
                {% endif %}
                {% if user.is_superuser or user == item.author %}
                    <a class='delete_button' href="{% url 'item_delete' pk=item.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if item.publicate or user.is_superuser %}
        <div class="row edit_div">
            <div class="arrows clearfix">
                {% if previous or next %}
                    {% if previous %}
                        <a href="{% url 'item_detail' pk=previous %}">
                            <div class="main_item_arrow" style="float: left">
                                <img class="left_arrow" src="{% static "img/Left.png" %}" alt="Previous">
                            </div>
                        </a>
                    {% endif %}
                    {% if next %}
                        <a href="{% url 'item_detail' pk=next %}">
                            <div class="main_item_arrow" style="float: right">
                                <img class="right_arrow" src="{% static "img/Right.png" %}" alt="Next">
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row edit_div">
                <div class="main_item_edit comment">
                    <form class="" method="post">
                        {% csrf_token %}
                        {{ form.text }}
                        <div class="comment_send"><button type="submit" class="comment_button" style="" value="save"><span class="category_delete_text">Отправить</span></button></div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row edit_div hr"></div>
        {% if item.comments.all %}
            {% for comment in item.comments.all %}
                <div class="row edit_div">
                    <div class="main_item_edit comment_published clearfix">
                        <a href="{% url 'user_profile' username=comment.author.username %}">
                            <div class="comment_author">
                                <span class="hide_panel">{{ comment.pk }}</span>
                                <span>{{ comment.author.username }}</span>
                                <div class="comment_avatar">
                                    {% if comment.author.profile.image %}
                                        <img class="comment_avatar_img" src="{% static "img/"%}{{comment.author.profile.image}}" alt="Avatar">
                                    {% else %}
                                        <img class="comment_avatar_img" src="{% static "img/Avatar.png"%}" alt="Avatar">
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="comment_date"><span>{{ comment.created_date }}</span></div>
                        <div class="comment_text">{{ comment.text }}</div>
                        {% if comment.author == user %}
                            <div class="comment_delete"><span class="category_delete_text">Удалить</span></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row edit_div">
                    <span class="comment_not">Ещё не добавлено ни одного комментария.</span>
            </div>
        {% endif %}
    {% endif %}
    <script src="{% static "js/Own/sendComment.js" %}"></script>
    <script src="{% static "js/Own/deleteComment.js" %}"></script>
    <script src="{% static "js/Own/blurComment.js" %}"></script>
{% endblock content %}