{% extends 'base.html' %}
{% load staticfiles %}

{% block login %}
    <div id="page" class="hide">4</div>
    <div class="row">
        <div class="address">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% for a in address_list %}
                <span class="address-slash"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{ address.a }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div>
            <div class="border_style_login"></div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="login-div clearfix">
                {% if user_form.username.value == user.username %}
                    <a class='det_ch' href="{% url 'user_edit' %}" class="top-menu log-button">
                        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                    </a>
                {% endif %}
                <p class="nov_ob2 detail_title"><span class="title_details_list">Данные пользователя</span></p>
                {% if user_comments_count %}
                    <a class='det_ch1' href="{% url 'user_comments' username=user_form.username.value %}" class="top-menu log-button"><i class="fa fa-comments" aria-hidden="true"></i><span class="comments_count">{{ user_comments_count }}</span></a>
                {% endif %}
                <div class="avatar_div">
                        {% if profile_user.image.value %}
                            <div class="avatar_block">
                                <img class="avatar" src="{% static "img/"%}{{profile_user.image.value}}" alt="Avatar">
                            </div>
                        {% else %}
                            <div class="avatar_default_block">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </div>
                        {% endif %}
                </div>
                {% if profile_user.last_seen.value %}
                    <div>
                         <div class="last_seen">
                            <p class="last_seen_text">
                                Был в сети: <span>{{ profile_user.last_seen.value }}</span>
                            </p>
                         </div>
                    </div>
                {% endif %}
                <div>
                     <div class="tr_detail_item">
                        <p>
                            <strong>Статус</strong><p><span>{% if admin %} Администратор{% else %} Пользователь{% endif %}</span></p>
                        </p>
                     </div>
                </div>
                {% for a in user_form %}
                    <div>
                        <div class="tr_detail_item">
                            <p>
                                <strong>{{ a.label }}</strong><p><span>{% if a.value %}{{ a.value }}{% else %}-{% endif %}</span></p>
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {% for a in profile_user %}
                    {% if a.label != 'Image' and a.label != 'Запомнить' and a.label != 'remember' and a.label != 'Дата последнего посещения' and a.label != 'last_seen'%}
                        <div>
                            <div class="tr_detail_item">
                                <p>
                                    <strong>{{ a.label }}</strong><p><span>{% if a.value %}{{ a.value }}{% else %}-{% endif %}</span></p>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="button_form">
                    {% if user_object.items.all %}
                        <div class="bt_item_edit">
                            <a href="{% url 'user_items' username=user_object.username %}" class="btn btn_item_edit password_change user_items_bt bt1">Товары пользователя</a>
                        </div>
                    {% endif %}
                    {% if user_form.username.value == user.username %}
                        <div class="bt_item_edit">
                            <a href="{% url 'change_password' %}" class="btn btn_item_edit password_change bt1">Сменить пароль</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
{#    <script src="{% static "js/Own/blurLogin.js" %}"></script>#}
    <script src="{% static "js/Own/min/deleteMessage.js" %}" async></script>
{% endblock %}