{% extends 'sklad/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="page" class="hide">4</div>
    <div class="row">
        <div class="address">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% for a in address_list %}
                <span class="address-slash"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{ address.a }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row edit_div">
        {% if comments %}
            {% csrf_token %}
            {% for comment in comments %}
                <div class="row edit_div comment_published_block">
                    <div class="main_item_edit comment_published clearfix">
                        <a href="{% url 'user_profile' username=comment.author__username %}">
                            <div class="comment_author">
                                <span class="hide_panel">{{ comment.id }}</span>
                                <span>{{ comment.author__username }}</span>
                                <div class="comment_avatar">
                                    {% if comment.author__profile__image %}
                                        <img class="comment_avatar_img" src="{% static "img/"%}{{comment.author__profile__image}}" alt="Avatar">
                                    {% else %}
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="comment_item"><span>#<a class="commen_item_a" href="{% url "item_detail" pk=comment.item__id %}">{{ comment.item__category__title }} {{ comment.item__title }}</a></span></div>
                        <div class="comment_date"><span>{{ comment.created_date }}</span></div>
                        <div class="comment_text">{{ comment.text }}</div>
                        <span class="span-comment-delete">Удалить</span>
                        {% if comment.author__id == user.id %}
                            <div class="comment_delete"><span class="category_delete_text">Удалить</span></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/Own/min/deleteUserComment.js" %}" async></script>
{% endblock %}